<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="style.css" rel="stylesheet" />
      <title> Reasons for recycling </title>
   </head>
   <header>
      <center>
         <a href="index.html">  <img src="Logo.png" width="350">     </a>
      </center>
   </header>
   <nav>
      <center>
      <div class=topnav>
         <a href="index.html">Home</a>
         <a href="page1.html">What is E-Waste?</a>
         <a href="page2.html">Reasons for recycling
         </a>
         <a href="page4.html">Recycling Process
         </a>
         <a href="page3.html">Hazardous Disposal Processes
         </a>
      </div>
   </nav>
   <main class="articlepage">
      <section>
         <h1 style="font-size: 36px; border-bottom: 2px solid dodgerblue;">
            <center> Reasons for recycling </center>
         </h1>
         <p>
            Obsolete electronics are valuable source for secondary raw materials, if treated properly; if not, they are a source of toxins and carcinogens. Rapid technology change, low initial cost, and planned obsolescence have resulted in a fast-growing surplus of electronic components around the globe. 
         </p>
         <p> Technical solutions are available, but in most cases a legal framework, a collection system, logistics, and other services need to be implemented before applying a technical solution. 
         </p>
         <p>Most electronic waste is sent to landfills or incinerated, which releases materials such as lead, mercury, or cadmium into the soil, groundwater, and atmosphere, thus having a negative impact on the environment. Reuse of tin, silicon, iron, aluminum, and a variety of plastics that are present in bulk in electronics can reduce the costs of constructing new systems. Components frequently contain lead, copper, gold and other valuable materials suitable for reclamation.</p>
      </section>
   </main>
   <footer>
      <center>
         <table border="0" width="900px">
            <tr>
               <td class="tabletitle" rowspan="3"> <a href="index.html"> <img src="Logo2.png" width="250px"></a> 
               </td>
               <td class="tabletitle">Checkout Top Articles
               </td>
               <td class="tabletitle">Contact Details
               </td>
            </tr>
            <tr>
               <td >
                  <ul type="circle">
                     <li> <a href="page1.html">  What is e-Waste?</a>     </li>
                     <li> <a href="page2.html"> Reasons for recycling</a>       </li>
                     <li> <a href="page3.html"> Hazardous Disposal Processes</a> 
                     </li>
                     <li> <a href="page4.html">Recycling Process</a> 
                     </li>
                  </ul>
               </td>
               <td>Name: Tirth Patel <br>
                  Contact: 1234567890<br>
                  Mail: 123@gmail.com<br>
                  Address: Kalol<br>
               </td>
            </tr>
         </table>
      </center>
      <br>
      <p>© 2022 E-Scrap Recycling | All Rights Reserved</p>
   </footer>
   </body>
</html>