<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="style.css" rel="stylesheet" />
      <title> Hazardous Disposal Processes </title>
   </head>
   <header>
      <center>
         <a href="index.html">  <img src="Logo.png" width="350">     </a>
      </center>
   </header>
   <nav>
      <center>
      <div class=topnav>
         <a href="index.html">Home</a>
         <a href="page1.html">What is E-Waste?</a>
         <a href="page2.html">Reasons for recycling
         </a>
         <a href="page4.html">Recycling Process
         </a>
         <a href="page3.html">Hazardous Disposal Processes
         </a>
      </div>
   </nav>
   <main class="articlepage">
      <section>
         <h1 style="font-size: 36px; border-bottom: 2px solid dodgerblue;">
            <center> Hazardous Disposal Processes
            </center>
         </h1>
         <h1 style="font-size: 28px; border-bottom: 2px solid lightgreen;">
            <center> Incineration</center>
         </h1>
         <p>
            Incineration is the process of destroying waste through burning. Because of the variety of substances found in e-waste, incineration is associated with a major risk of generating and dispersing contaminants and toxic substances. The gases released during the burning and the residue ash is often toxic. This is especially true for incineration or co-incineration of e-waste with neither prior treatment nor sophisticated flue gas purification. Studies of municipal solid waste incineration plants have shown that copper, which is present in printed circuit boards and cables, acts a catalyst for dioxin formation when flame-retardants are incinerated. These brominated flame retardants when exposed to low temperature (600-800 °C) can lead to the generation of extremely toxic polybrominated dioxins (PBDDs) and furans (PBDFs). PVC, which can be found in e-waste in significant amounts, is highly corrosive when burnt and also induces the formation of dioxins.
         </p>
         <h1 style="font-size: 28px; border-bottom: 2px solid lightgreen;">
            <center> Open Burning</center>
         </h1>
         <p>Since open fires burn at relatively low temperatures, they release many more pollutants than in a controlled incineration process at an MSWI-plant. Inhalation of open fire emissions can trigger asthma attacks, respiratory infections, and cause other problems such as coughing, wheezing, chest pain, and eye irritation. Chronic exposure to open fire emissions may lead to diseases such as emphysema and cancer. For example, burning PVC releases hydrogen chloride, which on inhalation mixes with water in the lungs to form hydrochloric acid. This can lead to corrosion of the lung tissues, and several respiratory complications. Often open fires burn with a lack of oxygen, forming carbon monoxide, which poisons the blood when inhaled. The residual particulate matter in the form of ash is prone to fly around in the vicinity and can also be dangerous when inhaled.
         </p>
         <h1 style="font-size: 28px; border-bottom: 2px solid lightgreen;">
            <center> Landfilling</center>
         </h1>
         <p>Landfilling is one of the most widely used methods of waste disposal. However, it is common knowledge that all landfills leak. The leachate often contains heavy metals and other toxic substances which can contaminate ground and water resources. Even state-of-the-art landfills which are sealed to prevent toxins from entering the ground are not completely tight in the long-term. Older landfill sites and uncontrolled dumps pose a much greater danger of releasing hazardous emissions.
         </p>
         <p>
            Mercury, Cadmium and Lead are among the most toxic leachates. Mercury, for example, will leach when certain electronic devices such as circuit breakers are destroyed. Lead has been found to leach from broken lead-containing glass, such as the cone glass of cathode ray tubes from TVs and monitors. When brominated flame retarded plastics or plastics containing cadmium are landfilled, both PBDE and cadmium may leach into soil and groundwater. Similarly, landfilled condersers emit hazardous PCB’s.
         </p>
         <p>
            Besides leaching, vaporisation is also of concern in landfills. For example, volatile compounds such as mercury or a frequent modification of it, dimethylene mercury can be released. In addition, landfills are also prone to uncontrolled fires which can release toxic fumes. Significant impacts from landfilling could be avoided by conditioning hazardous materials from e-waste separately and by landfilling only those fractions for which there are no further recycling possibilities and ensure that they are in state-of-the-art landfills that respect environmentally sound technical standards.
         </p>
      </section>
   </main>
   <footer>
      <center>
         <table border="0" width="900px">
            <tr>
               <td class="tabletitle" rowspan="3"> <a href="index.html"> <img src="Logo2.png" width="250px"></a> 
               </td>
               <td class="tabletitle">Checkout Top Articles
               </td>
               <td class="tabletitle">Contact Details
               </td>
            </tr>
            <tr>
               <td >
                  <ul type="circle">
                     <li> <a href="page1.html">  What is e-Waste?</a>     </li>
                     <li> <a href="page2.html"> Reasons for recycling</a>       </li>
                     <li> <a href="page3.html"> Hazardous Disposal Processes</a> 
                     </li>
                     <li> <a href="page4.html">Recycling Process</a> 
                     </li>
                  </ul>
               </td>
               <td>Name: Tirth Patel <br>
                  Contact: 1234567890<br>
                  Mail: 123@gmail.com<br>
                  Address: Kalol<br>
               </td>
            </tr>
         </table>
      </center>
      <br>
      <p>© 2022 E-Scrap Recycling | All Rights Reserved</p>
   </footer>
   </body>
</html>