<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="style.css" rel="stylesheet" />
      <title> Recycling Process </title>
   </head>
   <header>
      <center>
         <a href="index.html">  <img src="Logo.png" width="350">     </a>
      </center>
   </header>
   <nav>
      <center>
      <div class=topnav>
         <a href="index.html">Home</a>
         <a href="page1.html">What is E-Waste?</a>
         <a href="page2.html">Reasons for recycling
         </a>
         <a href="page4.html">Recycling Process
         </a>
         <a href="page3.html">Hazardous Disposal Processes
         </a>
      </div>
   </nav>
   <main class="articlepage">
      <section>
         <h1 style="font-size: 36px; border-bottom: 2px solid dodgerblue;">
            <center> Recycling Process
            </center>
         </h1>
         <p>
            Recycling Electronics is a simple and eco-friendly process. Used electronics are treated or processed in order to make the materials more suitable for reuse. ECS has its own “Reduce, Reuse, Recycle” philosophy in policies and practices in service of the environment’s needs. ECS also complies with regulations and guidelines for handling e-waste and other hazardous materials.
         </p>
         <p>
            The state-of-the-art recycling of e-waste comprises three steps: The first step in the recycling process is dismantling, the removal of critical components from the e-waste in order to avoid dilution of and / or contamination with toxic substances during the downstream processes.
         </p>
         <p>
            Mechanical processing is the next step in e-waste treatment, normally an industrial large scale operation to obtain concentrates of recyclable materials in a dedicated fraction and also to further separate hazardous materials. Typical components of a mechanical processing plant are crushing units, shredders, magnetic- and eddy-current- and air-separators. The gas emissions are filtered and effluents are treated to minimize environmental impact.
         </p>
         <p>
            The third step of e-waste recycling is refining. Refining of resources in e-waste is possible and the technical solutions exist to get back raw with minimal environmental impact. Most of the fractions need to be refined or conditioned in order to be sold as secondary raw materials or to be disposed of in a final disposal site, respectively.
         </p>
      </section>
   </main>
   <footer>
      <center>
         <table border="0" width="900px">
            <tr>
               <td class="tabletitle" rowspan="3"> <a href="index.html"> <img src="Logo2.png" width="250px"></a> 
               </td>
               <td class="tabletitle">Checkout Top Articles
               </td>
               <td class="tabletitle">Contact Details
               </td>
            </tr>
            <tr>
               <td >
                  <ul type="circle">
                     <li> <a href="page1.html">  What is e-Waste?</a>     </li>
                     <li> <a href="page2.html"> Reasons for recycling</a>       </li>
                     <li> <a href="page3.html"> Hazardous Disposal Processes</a> 
                     </li>
                     <li> <a href="page4.html">Recycling Process</a> 
                     </li>
                  </ul>
               </td>
               <td>Name: Tirth Patel <br>
                  Contact: 1234567890<br>
                  Mail: 123@gmail.com<br>
                  Address: Kalol<br>
               </td>
            </tr>
         </table>
      </center>
      <br>
      <p>© 2022 E-Scrap Recycling | All Rights Reserved</p>
   </footer>
   </body>
</html>