<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="style.css" rel="stylesheet" />
      <title> What is e-Waste? </title>
   </head>
   <header>
      <center>
         <a href="index.html">  <img src="Logo.png" width="350">     </a>
      </center>
   </header>
   <nav>
      <center>
      <div class=topnav>
         <a href="index.html">Home</a>
         <a href="page1.html">What is E-Waste?</a>
         <a href="page2.html">Reasons for recycling
         </a>
         <a href="page4.html">Recycling Process
         </a>
         <a href="page3.html">Hazardous Disposal Processes
         </a>
      </div>
   </nav>
   <main class="articlepage">
      <section>
         <h1 style="font-size: 36px; border-bottom: 2px solid dodgerblue;">
            <center> What is e-Waste? </center>
         </h1>
         <p>
            Electronic waste, e-waste, e-scrap, or Electronic-disposal, waste electrical and electronic equipment (WEEE) describes discarded electrical or electronic devices.
         </p>
         <p>“Electronic waste” may be defined as discarded computers, office electronic equipment, entertainment device electronics, mobile phones, television sets and refrigerators. This definition includes used electronics which are destined for reuse, resale, salvage, recycling, or disposal.</p>
         <img src="ewaste1.jpg" width="100%">
         <p>E-waste is a term used to cover almost all types of electrical and electronic equipment (EEE) that has or could enter the waste stream. Although e-waste is a general term, it can be considered to cover TVs, computers, mobile phones, white goods (e.g. fridges, washing machines, dryers etc), home entertainment and stereo systems, toys, toasters, kettles – almost any household or business item which works on electric or on electromagnetic principle.</p>
         <h1 style="font-size: 28px; border-bottom: 2px solid dodgerblue;">
            <center> Disposal Hazards</center>
         </h1>
         <p>Discarded electronics contain hazardous materials. If disposed improperly, they pose a potential threat to human health and the environment. E-Waste accounts for 40 percent of the lead and 75 percent of the heavy metals found in landfills. Although safe when used, once electronics are discarded in a landfill, the acidic conditions provide an environment in which lead and other heavy metals may leak out. If the landfill’s liner fails, the groundwater supply may become contaminated.</p>
         <h1 style="font-size: 28px; border-bottom: 2px solid dodgerblue;">
            <center> Green Recycling</center>
         </h1>
         <p>Electronic recycling is the recycling or reuse of electronic devices. It includes both finding another use for materials (such as donation to charity), and having systems dismantled, in a manner that allows for the safe extraction of the constituent materials for reuse in other products.</p>
      </section>
   </main>
   <footer>
      <center>
         <table border="0" width="900px">
            <tr>
               <td class="tabletitle" rowspan="3"> <a href="index.html"> <img src="Logo2.png" width="250px"></a> 
               </td>
               <td class="tabletitle">Checkout Top Articles
               </td>
               <td class="tabletitle">Contact Details
               </td>
            </tr>
            <tr>
               <td >
                  <ul type="circle">
                     <li> <a href="page1.html">  What is e-Waste?</a>     </li>
                     <li> <a href="page2.html"> Reasons for recycling</a>       </li>
                     <li> <a href="page3.html"> Hazardous Disposal Processes</a> 
                     </li>
                     <li> <a href="page4.html">Recycling Process</a> 
                     </li>
                  </ul>
               </td>
               <td>Name: Tirth Patel <br>
                  Contact: 1234567890<br>
                  Mail: 123@gmail.com<br>
                  Address: Kalol<br>
               </td>
            </tr>
         </table>
      </center>
      <br>
      <p>© 2022 E-Scrap Recycling | All Rights Reserved</p>
   </footer>
   </body>
</html>